.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: #cf711f;
}

.nav-link.nav-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}

.nav-link.nav-cta:hover,
.nav-link.nav-cta:active {
  background-color: #cf711f;
}

@media (max-width: 59em) {
  .nav-link {
    font-size: 3rem;
  }
}
