.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
  .gallery-item {
    overflow: hidden;
  }

  .gallery-item img {
    display: block;
    width: 100%;
    transition: all 0.4s;
  }

  .gallery-item img:hover {
    transform: scale(1.1);
  }
}

@media (max-width: 84em) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 59em) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 34em) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  }
}
