.section-cta {
  padding: 4.8rem 0 12.8rem 0;

  .cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: #e67e22; */
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
    border-radius: 11px;
    background-image: linear-gradient(to right, #eb984e, #e67e22);
    overflow: hidden;
  }

  .cta-text-box {
    color: #45260a;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }

  .cta-text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
  }

  .cta .heading-secondary {
    color: inherit;
    margin-bottom: 3.2rem;
  }

  .cta-img-box {
    background-image: linear-gradient(
        to right,
        rgba(235, 151, 78, 0.35),
        rgba(230, 125, 34, 0.35)
      ),
      url("../../assets/images/eating.jpg");
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 59em) {
  .section-cta {
    .cta {
      grid-template-columns: 3fr 2fr;
    }
  }
}

@media (max-width: 34em) {
  .section-cta {
    .cta {
      grid-template-columns: 1fr;
    }

    .cta-text-box {
      padding: 3.2rem;
    }

    .cta-img-box {
      height: 32rem;
      grid-row: 1;
    }
  }
}
