.step-text-box {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  /* height: 60%; */
  /* 60% of parent width */
  position: absolute;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.step-img {
  width: 35%;
}

.step-img-box:nth-child(4) {
  grid-row: 2;
}

@media (max-width: 59em) {
  .step-number {
    font-size: 7.4rem;
  }
}

@media (max-width: 34em) {
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(4) {
    grid-row: 3;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }
}
